.content {
    margin: 0 !important;
    padding: 3.5rem 0rem !important;
    letter-spacing: 3px;
}

nav {
    margin: 0 !important;
    padding: 0 0 0 4rem !important;
}

.nav-link,
.nav-link b {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: large;
    font-weight: 200;
    color: white !important;
    margin-right: 3rem;
}

.nav-number {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    margin-right: 10px;
}


#navbarNav {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 50%;
    padding-left: 6rem;
}

.nav-link {
    position: relative;
}

.navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: white;
    //   border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

/* solo el activo muestra el subrayado */
.nav-item.active::after {
    transform: scaleX(1);
}

/* personalizamos los anchos de cada uno */
.underline-home::after {
    width: 70%;
}

.underline-destination::after {
    width: 80%;
}

.underline-crew::after {
    width: 70%;
}

.underline-technology::after {
    width: 85%;
}