<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center" style="height: 100px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48">
            <g fill="none" fill-rule="evenodd">
                <circle cx="24" cy="24" r="24" fill="#FFF" />
                <path fill="#0B0D17"
                    d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z" />
            </g>
        </svg>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            style="width: 35%; height: 0; border-top: 1px solid rgba(151, 151, 151, 0.4); margin: auto auto auto 4rem; padding: 0;">
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item active underline-home">
                    <a class="nav-link" href="#"><span class="nav-number">00 </span> HOME <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  underline-destination">
                    <a class="nav-link" href="#"><span class="nav-number">01 </span> DESTINATION</a>
                </li>
                <li class="nav-item underline-crew">
                    <a class="nav-link" href="#"><span class="nav-number">02 </span> CREW</a>
                </li>
                <li class="nav-item  underline-technology">
                    <a class="nav-link" href="#"><span class="nav-number">03 </span> TECHNOLOGY</a>
                </li>
            </ul>
        </div>
    </nav>
</div>