<main class="main">
    <app-navbar></app-navbar>

    <section class="hero">
        <div class="hero-text">
<h5><span class="section-number">01</span> PICK YOUR DESTINATION</h5>
            <div class="planet-image">
                <img src="assets/destination/image-moon.png" alt="Europa">
            </div>

        </div>
        <div class="hero-explore">
            <div >
                <span>MOON</span>
                <span>MARS</span>
                <span>EUROPE</span>
                <span>TITAN</span>
            </div>
        </div>
    </section>
</main>