<main class="main">
    <app-navbar></app-navbar>

    <section class="hero">
        <!-- IZQUIERDA: Imagen del planeta -->
        <div class="hero-text">
            <h5>
                <span class="section-number">01</span> PICK YOUR DESTINATION
            </h5>
            <div class="planet-image">
                <img [src]="selectedPlanet.image" [alt]="selectedPlanet.name" />
            </div>
        </div>

        <!-- DERECHA: Info del planeta -->
        <div class="planet-info">
            <div class="planet-tabs">
                <span *ngFor="let planet of planets" [class.active]="planet.name === selectedPlanet.name"
                    (click)="selectPlanet(planet)">
                    {{ planet.name.toUpperCase() }}
                </span>
            </div>

            <h1>{{ selectedPlanet.name.toUpperCase() }}</h1>

            <p>{{ selectedPlanet.description }}</p>

            <hr class="divider" />

            <div class="planet-stats">
                <div>
                    <h5>AVG. DISTANCE</h5>
                    <p>{{ selectedPlanet.distance }}</p>
                </div>
                <div>
                    <h5>EST. TRAVEL TIME</h5>
                    <p>{{ selectedPlanet.travelTime }}</p>
                </div>
            </div>
        </div>
    </section>
</main>