.main {
    //   background-image: url('../../../assets/destination/background-destination-desktop.jpg');
    background-image: url('../../../../public/assets/destination/background-destination-desktop.jpg');
    // background-color: black; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

}

h5 {
    text-align: start;
}

.hero-explore div {
    display: flex;
    gap: 2rem;
}

span {
    font-family: 'Barlow Condensed', sans-serif;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0vh 15vh;
    color: white;
    text-align: center;
    // gap: 5vh;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .hero-text {
        max-width: 50ch;

        h5 {
            font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
            letter-spacing: 0.3em;
            color: #ffffff;
            margin-bottom: 1.5vh;
            font-family: 'Barlow Condensed';
            font-size: x-large;
            font-weight: 400;
        }

        h1 {
            font-size: clamp(3rem, 10vw, 8rem);
            font-weight: 400;
            font-family: 'Bellefair', serif;
            margin: 0;
        }

        p {
            font-size: clamp(1rem, 1.5vw, 1.2rem);
            line-height: 1.6;
            color: #d0d6f9;
            margin-top: 2vh;
            font-family: 'Barlow';
        }
    }
}

.planet-image img {
    width: 80%;
}

.planet-image {
    display: flex;
    justify-content: end;
    margin-top: 3.5rem;
}

.section-number {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; // o 700
    color: #4f5259;
    margin-right: 0.5rem; // opcional, para separar del texto
    letter-spacing: 0.3em;
}