.main {
  // background-image: url('../../../assets/home/background-home-desktop.jpg');
  background-image: url('../../../../public/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 10vh 11vw 5vh;
  color: white;
  align-items: flex-end;
  text-align: center;
  gap: 5vh;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .hero-text {
    max-width: 50ch;

    h5 {
      font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
      letter-spacing: 0.3em;
      color: #d0d6f9;
      margin-bottom: 1.5vh;
      font-family: 'Barlow Condensed';
    }

    h1 {
      font-size: clamp(3rem, 10vw, 8rem);
      font-weight: 400;
      font-family: 'Bellefair', serif;
      margin: 0;
              letter-spacing: 0.5rem;

    }

    p {
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      line-height: 1.6;
      color: #d0d6f9;
      margin-top: 2vh;
      font-family: 'Barlow';
    }
  }

  .hero-explore {
    margin-top: 5vh;

    @media (min-width: 768px) {
      margin-top: 0;
    }

    button {
      width: clamp(8rem, 25vw, 17rem);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      border: none;
      background-color: white;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      letter-spacing: 0.2em;
      font-family: 'Bellefair', serif;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 3vw rgba(255, 255, 255, 0.1);
      }
    }
  }
}
