<main class="main">
    <app-navbar></app-navbar>

    <section class="hero">
        <div>
            <div class="circle" [class.active]="selectedStep === launches[0]" (click)="selectStep(launches[0])">1</div>
            <div class="circle" [class.active]="selectedStep === launches[1]" (click)="selectStep(launches[1])">2</div>
            <div class="circle" [class.active]="selectedStep === launches[2]" (click)="selectStep(launches[2])">3</div>
        </div>

        <div class="hero-text">
            <h5><span class="section-number">03</span> SPACE LAUNCH 01</h5>
            <p class="section-number2">THE TERMINOLOGY...</p>
            <p class="name">{{ selectedStep.name.toUpperCase() }}</p>
            <p class="background">{{ selectedStep.description }}</p>
        </div>

        <div class="launch-container">
            <div class="launch-photo">
                <img [src]="selectedStep.image" [alt]="selectedStep.name">
                <!-- <img src="assets/technology/image-launch-vehicle-portrait.jpg" alt="Rocket" /> -->
            </div>
        </div>
    </section>
</main>